[submodule "Submodules/finchmoduletransitions"]
	path = Submodules/finchmoduletransitions
	url = https://git.finch.fm/frameworks/finchmoduletransitions
[submodule "finchui"]
	path = finchui
	url = https://git.finch.fm/frameworks/finchui
[submodule "finchlists"]
	path = finchlists
	url = https://git.finch.fm/frameworks/finchlists
[submodule "finchextensions"]
	path = finchextensions
	url = https://git.finch.fm/frameworks/finchextensions
[submodule "finchcore"]
	path = finchcore
	url = https://git.finch.fm/frameworks/finchcore
[submodule "Submodules/finchlists"]
	path = Submodules/finchlists
	url = https://git.finch.fm/frameworks/finchlists
[submodule "Submodules/finchcore"]
	path = Submodules/finchcore
	url = https://git.finch.fm/frameworks/finchcore
[submodule "Submodules/finchextensions"]
	path = Submodules/finchextensions
	url = https://git.finch.fm/frameworks/finchextensions
[submodule "Submodules/finchui"]
	path = Submodules/finchui
	url = https://git.finch.fm/frameworks/finchui
